<ion-header>

    <ion-navbar>
        <ion-title>我的房源</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                切换
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <div class="searchs">
            <div class="item-input-wrapper">
                <i class="icon placeholder-icon"><img src="assets/img/staff/search.png"></i>
                <input [(ngModel)]="searchData.input" (ngModelChange)="searchData.input == $event" (change)="searchDis(houseTitle[selectTab].status)"
                    (focus)='focus()' (blur)='blur()' type="search" style="padding-top:0;" placeholder="请输入区域、商圈或小区名搜索" />
                <button ion-botton (click)='clearInput()' *ngIf="searchData.input !==''">
					<img src="assets/img/sprite/close_btn_home.png" width="18"/>
				</button>
            </div>
            <button ion-button class="inputsub" (click)='inputSearch()'>搜索</button>
        </div>
        <div class="record-select">
            <p [ngClass]="selectTab==m.id ? 'tabP' : ''" *ngFor="let m of houseTitle" (click)="selectStatus(m.id,m.status)">{{m.name}} ({{m.total}})</p>
            <span class="spacing"></span>
        </div>
        <div class="record-title">
            <div class="titles" *ngFor="let i of subtabs" (click)="chooseTab(i.id)">
                <span [ngClass]="{'positive': choosedTab == i.id}">{{i.title}}</span>
                <ion-icon name="{{choosedTab == i.id ? 'md-arrow-dropdown' : 'md-arrow-dropup'}}"></ion-icon>
            </div>
        </div>
        <div *ngIf="inputStart || searchData.input !==''" class='search-dropdown'>
            <a *ngIf="districtsTotal == 0" ion-button full outline color="light">没有匹配</a>
            <button ion-button full outline color="light" *ngFor="let d of districts" (click)="chooseDis(d)">{{d.subdistrict.name}}</button>
        </div>
    </ion-toolbar>
    <!--<div *ngIf='showHeight'  style='width:100vw;height: 100vh;background-color: tomato;position:absolute;z-index:100;'>
    <button ion-button small color='primary'  (click)='closeDistrict()'>关闭</button>  
</div>-->
</ion-header>
        <div class="menu-option">
            <button ion-button full outline color="dark">二手房</button>
            <button ion-button full outline color="dark">新房</button>
            <button ion-button full outline color="dark">租房</button>
        </div>
<ion-content>
    <div class="housemine" *ngFor="let h of houses">
        <!--<house [h]='h'></house>-->
        <div class='item'>
            <img src="assets/img/img_null.png" width='70' height='70' style="float: left;" />
            <a style="width:75%;">
                <div class="flex-row">
                    <p>
                        <span style="font-weight:700;">{{h.subdistrict.name}}</span>
                    </p>
                    <p>
                        {{h.detailAddr}} {{h.floor}}/{{h.totalFloor}}
                        <span *ngIf="h.orientation == 1">西</span>
                        <span *ngIf="h.orientation == 2">东</span>
                        <span *ngIf="h.orientation == 3">北</span>
                        <span *ngIf="h.orientation == 4">南</span>
                        <span *ngIf="h.orientation == 5">南北</span>
                    </p>
                </div>
                <div>
                    <span class="text">{{h.buildingArea}}m<sup>2</sup></span>
                    <span class="interval"></span>
                    <span class="text">{{h.price}}万元</span>
                    <span class="interval"></span>
                    <span class="text" *ngIf="h.decorate == 1">毛坯</span>
                    <span class="text" *ngIf="h.decorate == 2">简装</span>
                    <span class="text" *ngIf="h.decorate == 3">精装</span>
                    <span class="interval"></span>
                    <span class="text">{{h.houseType}}</span>
                </div>
                <div>
                    <span class="positive" *ngIf="h.status == 0">初始状态</span>
                    <span class="positive" *ngIf="h.status == 1">实勘中</span>
                    <span class="positive" *ngIf="h.status == 2">已上架</span>
                    <span class="positive" *ngIf="h.status == 3">已下架</span>
                    <span class="positive" *ngIf="h.status == 4">已锁定</span>
                    <span class="positive" *ngIf="h.status == 5">已销售</span>
                    <p class="price">{{h.name}}</p>
                </div>
            </a>
        </div>
        <!--<div class="handle" style="padding:10px 20px;">
            <a><img src="assets/img/staff/phone_line_btn.png" width="20" /></a>
            <p>
                推荐人<span style="font-size:.8em;color:#999;">(业主)</span>：
                <span style="color:#265fdf;">
							皇帝强
						</span>
            </p>
            <p>123456789</p>
        </div>-->
    </div>
    <div *ngIf="dataLength==0 && addMore == true && houseTotal !== 0" class="doInfinite">
        <h5>只有这么多房源了</h5>
        <div></div>
    </div>
    <div *ngIf="houseTotal == 0 && addMore == true" class="prompt">
        <ion-icon name="home"></ion-icon>
        <p>您还没有房源</p>
    </div>
    <ion-infinite-scroll *ngIf="dataLength!==0 && addMore == true" (ionInfinite)="doInfinite($event)" threshold='70%'>
        <ion-infinite-scroll-content loadingText="正在加载中..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>