page-housemine {
        .housemine{
        margin-bottom: 6px;
        box-shadow: 0 6px 6px #e4ebf8;
        .handle {
            padding: 10px 0;
            border-top: solid 1px #e7eaef;
            border-bottom: solid 1px #e7eaef;
            overflow: hidden;
            position:relative;
            div{ 
                padding:0 10px;
                width:50%;
            }
            p {
                color: #b8bfc9;
                span {
                    color: #64708a;
                }
            }
            a{
                float:right;
                padding: 5px;
            }
            .spacing{
                width: 1px;
                height: 100%;
                background-color: #e6e6e6;
                display: block;
                position: absolute;
                left: 50%;
                top: 0;                        
            }
        }
        .item{
            padding:20px 10px;
            margin: 0;
            border-bottom:0;
            border-color: #f0f2f6;
            &>a{
                float:right; 
                width:70%;
                &>div{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    .text{
                        height:30px;
                        line-height:30px;
                        overflow: hidden;
                        color:gray;
                        font-size:.8em;
                    }
                    .interval{
                        width:1px;
                        background: gray;
                        height:10px;
                        margin: 0 1%;
                        display:inline-block;
                    }
                    .price{
                        width:75%;
                        float:left;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .positive{
                        width:25%;
                        text-align: right;
                        float:right;
                        text-indent: -10px;
                    }
                    i{
                        position: absolute;
                        top: -19px;
                        left: -19px;
                        color: #fff;
                        background-color: #265fdf;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        line-height: 54px;
                        text-indent: 20px;
                    }
                }
            }
            .handle {
                padding: 10px 20px;
                border-top: solid 1px #e7eaef;
                border-bottom: solid 1px #e7eaef;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    color: #b8bfc9;
                    span {
                        color: #64708a;
                    }
                }
            }
            .search-dropdown{
                position: fixed;
                //top: -8px;
                top: 103px;
                z-index: 9;
                width: 100%;
                .button{
                    margin: 0;
                    padding:10px 0;
                    border-bottom: 1px solid #f0f2f6;
                }
            }
            .button.button-positive.button-outline.activated{
                border-color: #265fdf;
                background: 0 0;
                color: #265fdf;
            }
            &>.button{
                float:right;
                width:25%;
                overflow: hidden;
                padding: 0;
                font-size:.9em;
                min-height: inherit;
            }
            .flex-row{
            justify-content:space-between;
            overflow: hidden;
            img{
                width:17px;
                height:17px;
            }
            p{
                color:lightgray;
                overflow: hidden;
                margin: 0;
                span{
                    color:lightgray;
                    font-size:.9em;
                }
            }
            p:first-child>span{
                color:black;
                font-size:1.3em;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            }
            .button-clear{
                color:#265fdf;
                margin-top: 10px;
            }
        }
        .item:last-child{
            border-bottom:1px solid #f0f2f6;
        }
        .content{
            position: relative;
            top:44px;
        }
    }
}
