page-mine {
    .mine-1 {
        height: 35vh;
        background-image: url('../assets/img/bg_img_sell.png');
        background-size: cover;
        background-position: center bottom;
        padding: 15px 16vw 15px;
        box-shadow: 0px 1px 1px #b19510;
        text-align: center;
        margin-bottom: 30px;
    }
    .mine-2 {
        box-shadow: 0px 6px 6px #EAEFF9;
        margin-bottom: 6px;
        .mine-2-item {
            width: 33.33vw;
            height: 33.33vw;
            float: left;
            text-align: center;
            padding:0px;
            p {
                margin: 5px 0;
            }
        }
    }
    .mine-3 {
        clear:both;
        border-top: 1px solid lightgray;
        padding-bottom: 20px;
    }
}