<ion-header>
    <ion-navbar>
        <ion-title>{{houses.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="housedetails">
    <div *ngIf="house.images == '[]'" style='width: 100%;height:160px;overflow:hidden;'>
        <img src="assets/img/img_null.png" style='width:100%;height:100%;' />
    </div>
    <div class="slide-img" *ngIf="house.images !== '[]'">
        <ion-slides zoom='true' pager='true' autoplay='2000' loop='true' paginationType='bullets' parallax='true'>
            <ion-slide *ngFor='let img of (house.images | ImgPipe)'>
                <img src="{{img}}" />
            </ion-slide>
            <ion-slide *ngFor='let img of (house.planImages | ImgPipe)'>
                <img src="{{img}}" />
            </ion-slide>
        </ion-slides>
    </div>
    <div class="details-1">
        <div class='name'>{{houses.name}}</div>
        <div class='simple flex-row'>
            <div class='flex-1'>
                <p>售价</p>
                <h4><span>{{houses.price}}</span>万</h4>
            </div>
            <div class='flex-1 bor'>
                <p>房型</p>
                <h4><span>{{houses.houseType | HouseTypePipe}}</span></h4>
            </div>
            <div class='flex-1 bor'>
                <p>面积</p>
                <h4><span>{{houses.buildingArea}}</span>平米</h4>
            </div>
        </div>
        <div class='calculate'>
            单价：
            <span>{{houses.price*10000/houses.buildingArea | number : '1.0-0'}}元/平米</span>
        </div>
    </div>
    <div class="details-1">
        <div class="row">
            <div class='flex-col'>
                楼层：
                <span>{{houses.floor}}/{{houses.totalFloor}}</span>
            </div>
            <div class='flex-col'>
                朝向：
                <span *ngIf="houses.orientation == 1">西</span>
                <span *ngIf="houses.orientation == 2">东</span>
                <span *ngIf="houses.orientation == 3">北</span>
                <span *ngIf="houses.orientation == 4">南</span>
                <span *ngIf="houses.orientation == 5">南北</span>
            </div>
            <div class='flex-col'>
                装修：
                <span *ngIf="houses.decorate == 1">毛坯</span>
                <span *ngIf="houses.decorate == 2">简装</span>
                <span *ngIf="houses.decorate == 3">精装</span>
            </div>
            <div class='flex-col'>
                楼型：
                <span *ngIf="houses.subdistrict?.buildingType == 1">塔式</span>
                <span *ngIf="houses.subdistrict?.buildingType == 2">板式</span>
                <span *ngIf="houses.subdistrict?.buildingType == 3">塔板结合</span>
                <span *ngIf="houses.subdistrict?.buildingType == 4">未知类型</span>
            </div>
            <div class='flex-col'>
                年代：
                <span>{{houses.subdistrict?.buildYear}}年</span>
            </div>
            <div class='flex-col'>
                挂盘时间：
                <!--<span>{{houses.modifiedTime | date: 'yyyy-MM-dd'}}</span>
                <span *ngIf="!houses.modifiedTime">暂未上架</span>-->
            </div>
            <div class='flex-col'>
                房号：
                <span>{{houses.detailAddr}}</span>
            </div>
            <div class='flex-col'>

            </div>
            <a class='flex-row' *ngIf="houses.subdistrict !== null" (click)="districtDs(houses)">
                <div>
                    小区：
                    <span>{{houses.subdistrict?.name}}</span>
                </div>
                <ion-icon name="arrow-forward"></ion-icon>
            </a>
        </div>
    </div>
    <div class='details-3'>
        <p>房源描述(点击内容可查看)：</p>
        <div [ngClass]="isAction ? 'description' : 'descriptionAn'" (click)="action()">{{houses.description}}</div>
    </div>
    <div class='map'>
        <div id='housedetails-map'></div>
    </div>
    <div class="role-person">
        <div class="title">角色人信息</div>
        <ion-list>
            <ion-item>
                <ion-thumbnail item-left *ngIf="hkName.avatar">
                    <img src="{{hkName.avatar}}" width="100%" height="100%" />
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="(!hkName.avatar)&&(hkName.gender===2)">
                    <img src="assets/img/female.png" width="100%" height="100%" />
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="(!hkName.avatar)&&(hkName.gender===1)">
                    <img src="assets/img/male.png" width="100%" height="100%" />
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="(!hkName.avatar)&&(hkName.gender===3)">
                    <img src="assets/img/sprite/gender_unknown.jpg" width="100%" height="100%" />
                </ion-thumbnail>
                <h2>{{hkName.name}} <span>房管家</span></h2>
                <p>{{hkName.department?.name}}</p>
                <a href="tel:{{hkName.mobile}}" ion-button clear item-right><img src="assets/img/staff/phone_line_btn.png" width="18" /></a>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-left *ngIf="referrerName.avatar">
                    <img src="{{referrerName.avatar}}" width="100%" height="100%" />
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="(!referrerName.avatar)&&(referrerName.gender===2)">
                    <img src="assets/img/female.png" width="100%" height="100%" />
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="(!referrerName.avatar)&&(referrerName.gender===1)">
                    <img src="assets/img/male.png" width="100%" height="100%" />
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="(!referrerName.avatar)&&(referrerName.gender===3)">
                    <img src="assets/img/sprite/gender_unknown.jpg" width="100%" height="100%" />
                </ion-thumbnail>
                <h2>{{referrerName.name}} <span>推荐人</span></h2>
                <p *ngIf="referrerName.department?.name">{{referrerName.department?.name}}</p>
                <p *ngIf="!referrerName.department?.name">用户推荐</p>
                <a *ngIf="referrerName.mobile" href="tel:{{referrerName.mobile}}" ion-button clear item-right><img src="assets/img/staff/phone_line_btn.png" width="18" /></a>
            </ion-item>
        </ion-list>
    </div>
    <div class='role-person' style="margin-top:10px;">
        <ion-list>
            <ion-item>
                <h2>客户看房记录（{{house.watchedCount}}）</h2>
                <p>近一个月新增<span class="assertive">{{house.watchedCount}}</span>位看房客户</p>
                <!--<button ion-button clear item-right>View</button>-->
            </ion-item>
            <ion-item *ngIf="(roleName =='房管家' || roleName =='经理') && enterTyle == 2">
                <i *ngIf="house.hasKey == true" item-left><img src="assets/img/staff/key_icon.png" width="17"/></i>
                <span *ngIf="house.hasKey == true">
                    有钥匙&nbsp;&nbsp;&nbsp;
                </span>
                <span *ngIf="house.hasKey == false">
                    无钥匙&nbsp;&nbsp;&nbsp;
                </span>
            </ion-item>
            <ion-item *ngIf="(roleName =='房管家' || roleName =='经理') && enterTyle == 2">
                <div class="flex-1">
                    <span>业主：</span> {{messagesDetailName.name}} {{messagesDetailName.mobile}}
                </div>
                <a ion-button clear item-right href="tel:{{messagesDetailName.mobile}}">
                    <img src="assets/img/staff/phone_line_btn.png" width="18" />
                </a>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <div class="footer-flex">
        <a ion-bu class="create" *ngIf="(roleName =='房管家' || roleName =='经理') && enterTyle == 2">
            <div class="create-content">
                <div><img src="assets/img/staff/compile_btn_grayness.png" width="18"></div>
                <h5>编辑</h5>
            </div>
        </a>
        <p class='positive' *ngIf="house.status == 0">初始状态</p>
        <p class='stable-bg' *ngIf="house.status == 1">实勘中</p>
        <p class='positive' *ngIf="house.status == 2">已上架</p>
        <p class='stable-bg' *ngIf="house.status == 3">已下架</p>
        <p class='stable-bg' *ngIf="house.status == 4">已锁定</p>
        <p class='stable-bg' *ngIf="house.status == 5">已销售</p>
    </div>
</ion-footer>