<ion-header>

    <ion-navbar mode='ios'>
        <ion-title text-center>卖房记录</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <div>
        <div class='visit-record' *ngFor="let h of record">
            <div class="item record-1">
                <span class="number">订单编号：{{h.serialNumber}}</span>
                <span class='status' *ngIf="h.status == -2">已终止</span>
                <span class='status' *ngIf="h.status == -1">已取消</span>
                <span class='status' *ngIf="h.status == 0">已完成</span>
                <span class='status' *ngIf="h.status == 1">等待付款</span>
                <span class='status' *ngIf="h.status == 2">验房中</span>
                <span class='status' *ngIf="h.status == 3">看房中</span>
                <span class='status' *ngIf="h.status == 4">签约中</span>
                <span class='status' *ngIf="h.status == 5">过户中</span>
                <span class='status' *ngIf="h.status == 6">联系被推荐中</span>
                <span class='status' *ngIf="h.status == 7">处理中</span>
                <span class='status' *ngIf="h.status == 8">贷款中</span>
                <span class='status' *ngIf="h.status == 9">网签中</span>
            </div>
            <div class="item record-block" *ngIf="h.status == 2">
                <p style="padding-left:10px;">{{houseNone}}</p>
            </div>
            <div class="record-block" *ngIf="h.status == 0">
                <house [hId]='h.houseId'></house>
                <a href="tel:{{distributionRole?.mobile}}" class="item record-3">
                    <span class='title'>房管家：</span>
                    <distribution class="distribution" [r]='h.hkId'></distribution>
                </a>
            </div>
            <div class="item record-4">
                <div class='group'>
                    <button ion-button small round outline style="padding:0 5px;">跟踪状态</button>
                </div>
            </div>
        </div>
        <div *ngIf="total == 0" class="prompt">
            <ion-icon name="ios-create-outline"></ion-icon>
            <p>您还没有相关的记录</p>
        </div>
    </div>
</ion-content>