<ion-header>
	<ion-navbar>
		<button ion-button menuToggle color="light">
		     <ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>壁虎工作台({{roleName}})</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="light" style="right:10px;" (click)="pushTo(message)">
				<!--<ion-icon name="person-add"></ion-icon>-->
				<img src="assets/img/icon/_0023_message.png" width="26">
			</button>
		    <ion-badge *ngIf='messagesTotal>0' item-right color="danger">{{messagesTotal}}</ion-badge>
		</ion-buttons>
		<!--<button ion-button side="right">
      <img src="assets/img/icon/_0023_message.png" width="26">
    </button>-->
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="home-list" *ngIf="tabIndex == 1">
		<ion-list>
			<ion-item>
				合作商家
			</ion-item>
		</ion-list>
	</div>
	<div *ngIf="tabIndex == 2">
		<todoitem *ngFor='let t of todos' [todo]='t'></todoitem>
		<!--<div class="home-list">
			<ion-list>
				<ion-list-header>您收到一条“房源实勘”任务</ion-list-header>
				<ion-item>
					<p><span>订单编号：</span>2018025236999</p>
					<p><span>业主姓名：</span>黄忠</p>
					<p><span>房源地址：</span>成都市一环路西八段80号</p>
					<div class="see">
						<img src="assets/img/icon/_0013_seeright.png" width="16">
						<span>查看详情 </span>
					</div>
				</ion-item>
			</ion-list>
		</div>-->
		<!--only n000149-->
	    <button ion-button small (click)='getTodosTotal(5)' *ngIf="(baseURL=='http://60.205.169.195:7060' || baseURL=='http://60.205.169.195:7069' )&&(userInfo.name=='韩崇（置业顾问）' || userInfo.name=='龚松平')" >get all todos</button>
		<todoitem *ngFor='let t of todosTotal' [todo]='t'></todoitem>
	</div>
	<div class="home-add" *ngIf="tabIndex == 3">
		<ion-list>
			<ion-item [navPush]='houseclue'>
				<img src="assets/img/icon/_0011_recommend.png" />
				<ion-icon name="ios-add"></ion-icon>
				<h5>推荐房源</h5>
			</ion-item>
			<ion-item (click)="pushTo(recommendbuyer)">
				<img src="assets/img/icon/_0012_recommend.png" />
				<ion-icon name="ios-add"></ion-icon>
				<h5>推荐客户</h5>
			</ion-item>
		</ion-list>
	</div>
	<div class="home-info" *ngIf="tabIndex == 4">
		<div class="row">
			<div class="col-50" [navPush]='ordermine'>
				<div>
					<img src="assets/img/icon/_0008_list.png" width="65" />
					<h5>订单管理</h5>
				</div>
			</div>
			<div class="col-50" (click)="pushTo(customermine)">
				<div>
					<img src="assets/img/icon/_0009_heads.png" width="65" />
					<h5>客户管理</h5>
				</div>
			</div>
			<div class="col-50">
				<div>
					<img src="assets/img/icon/info.png" width="65" />
					<h5>统计数据</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="home-info" *ngIf="tabIndex == 5">
		<div class="row">
			<div class="col-50" (click)="pushTo(housemine)"  *ngIf="(roleName == '房管家') || (roleName == '租赁专员')">
				<div>
					<img src="assets/img/icon/_0007_myhome.png" width="65"/>
					<h5>我的房源</h5>
				</div>
			</div>
			<div class="col-50"  *ngIf="roleName == '经理' || roleName == '副总经理' || roleName == '总经理'">
				<div>
					<img src="assets/img/icon/_0007_myhome.png" width="65"/>
					<h5>房源管理</h5>
				</div>
			</div>
			<div class="col-50" (click)="pushTo(housesearch)">
				<div>
					<img src="assets/img/icon/_0006_search.png" width="65" />
					<h5>房源搜索</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="home-list" *ngIf="tabIndex == 6">
		<ion-list>
			<ion-item>
				电子账单
			</ion-item>
		</ion-list>
	</div>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<div class="footer">
			<div class="footer-content">
				<div class="col1" (click)="tabColor(1)" *ngIf="roleName == '开发专员'">
					<div>
						<ion-badge *ngIf='tasksTotal>1' item-right color="danger">{{tasksTotal}}</ion-badge>
						<img src="assets/img/icon/{{tabIndex == 1 ? '_0020_todo.png' : '_0021_todo.png'}}" width="25" />
						<h5 [ngClass]="{'colblue': tabIndex ==1}">合作商家</h5>
					</div>
				</div>
				<div class="col1" (click)="tabColor(2)" *ngIf="roleName !== '看房顾问' && roleName !== '看房顾问总经理'">
					<div>
						<ion-badge *ngIf='tasksTotal>0' item-right color="danger">{{tasksTotal}}</ion-badge>
						<img src="assets/img/icon/{{tabIndex == 2 ? '_0020_todo.png' : '_0021_todo.png'}}" width="25" />
						<h5 [ngClass]="{'colblue': tabIndex == 2}">待办事项</h5>
					</div>
				</div>
				<div class="col1" (click)="tabColor(3)">
					<div>
						<img src="assets/img/icon/{{tabIndex == 3 ? '_0018_new.png' : '_0019_new.png'}}" width="28" />
						<h5 [ngClass]="{'colblue': tabIndex == 3}">新建任务</h5>
					</div>
				</div>
				<div class="col1" (click)="tabColor(4)" *ngIf="(roleName != '开发专员') && (roleName != '看房顾问') && (roleName != '看房顾问总经理')">
					<div>
						<img src="assets/img/icon/{{tabIndex == 4 ? '_0016_datas.png' : '_0017_datas.png'}}" width="29" />
						<h5 [ngClass]="{'colblue': tabIndex == 4}">数据管理</h5>
					</div>
				</div>
				<div class="col1" (click)="tabColor(5)" *ngIf="roleName !== '看房顾问' && roleName !== '看房顾问总经理'">
					<div>
						<img src="assets/img/icon/{{tabIndex == 5 ? '_0014_house.png' : '_0015_house.png'}}" width="25" />
						<h5 [ngClass]="{'colblue': tabIndex == 5}">房源管理</h5>
					</div>
				</div>
				<div class="col1" (click)="tabColor(6)" *ngIf="roleName == '看房顾问' || roleName == '看房顾问总经理'">
					<div>
						<img src="assets/img/icon/{{tabIndex == 6 ? '_0020_todo.png' : '_0021_todo.png'}}" width="25" />
						<h5 [ngClass]="{'colblue': tabIndex == 6}">电子账单</h5>
					</div>
				</div>
			</div>
		</div>
	</ion-toolbar>
</ion-footer>
