page-home {
    ion-header{
        .toolbar-background-ios{
            background-color: #265fdf;
        }
        ion-title{
            .toolbar-title{
                color:#fff;
            }
        }
        ion-badge{
            position: absolute;
            top: 0;
            right: -1px;
            font-weight:100;
            padding:2px 5px;
        }
    }
    .home-coopertion{
        .coopertion-list,.coopertion-add{
            padding:10px;
            width:100vw;
            height:22vh;
            div{
                background-size: cover;
                background-position: center center;
                width:100%;
                height:100%;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: center;
                align-items:center;
                .text{
                    position: absolute;
                    right:10px;
                    bottom:5px;
                    margin: 0;
                    color:#fff;
                }
            }
        }
        .coopertion-list{
            div{
               background-image: url('../assets/img/icon/coopertion_img.png');
            }
        }
        .coopertion-add{
            div{
               background-image: url('../assets/img/icon/coopertionadd_img.png');
            }
        }
    }
     .home-list{
         margin:10px;
         border:1px solid #265fdf;
         .list-ios{
             margin:0;
         }
         ion-list-header{
             background-color: #4780ff;
             padding-left:10px;
             min-height: 3rem;
             border-bottom:1px solid #265fdf;
             color:#fff;
             font-size: 1em;
         }
         ion-item{
             padding-left: 10px;
             p{
                 color:#4780ff;
                 margin-top: 5px;
                 span{
                     color:black;
                 }
             }
             .label-ios{
                 margin: 7px 0;
             }
             .see{
                 color:#4780ff;
                 font-size: .8em;
                 letter-spacing: 0.1rem;
                 img,span{
                     float:right;
                     margin-left: 3px;
                 }
             }
         }
     }
     .home-add{
         ion-list{
             ion-item{
                border-bottom:0 !important;
                .item-inner{
                   border-bottom:0 !important;
                }
             }
         }
         ion-icon,h5{
             position: absolute;
             color:#fff;
         }
         ion-icon{
             top:50%;
             left:50%;
             font-size: 6em;
             margin-left: -25.5px;
             margin-top: -51px;
         }
         h5{
             bottom: 22px;
             right: 25px;
             font-size: 1em;
             font-weight: 800;
         }
     }
     .home-info{
         .col-50{
             width:50%;
             div{
                background-color: #265fdf;
                padding: 5px 15px;
                margin: 10%;
                img{
                    display: block;
                    margin: 0 auto;
                }
                h5{
                    color:#fff;
                    text-align: center;
                    margin:5px 0;
                }
             }
         }
     }
     .footer{
         .footer-content{
            display: flex;
            justify-content:space-around;
            background-color: #d9d9d9;
            .col1{
                div{
                    position: relative;
                    padding:5px 0;
                    float:left;
                    ion-badge{
                        position: absolute;
                        top:0;
                        right:0;
                        padding:3px 6px;
                        font-weight:100;
                    }
                    img{
                        display:block;
                        margin: 0 auto;
                    }
                    h5{
                        font-size:.6em;
                        margin-top: 5px;
                        margin-bottom: 0;
                        color:#666;
                    }
                    .colblue{
                        color:#265fdf;
                    }
                }
            }
         }
     }
     .toolbar-ios{
         padding:0;
     }
}
