<div class="handle">
    <div>
        <a href="tel:{{hk?.mobile}}" ><img src="assets/img/staff/phone_line_btn.png" width="20" /></a>
        <p>
            房管家：
            <span *ngIf="hk">
                {{hk.name}}
            </span>
            <!--<span *ngIf="hk" style="color:#265fdf;">无</span>-->
        </p>
        <p >{{hk?.mobile}}</p>
    </div>
    <span class="spacing"></span>
    <div>
        <a *ngIf="h.referrerId" href="tel:{{referrer?.mobile}}"><img src="assets/img/staff/phone_line_btn.png" width="20" /></a>
        <p>
            推荐人<span style="font-size:.8em;color:#999;" *ngIf="h.referrerId > 5000000">(业主)</span>：
            <span *ngIf="h.referrerId">
                            {{referrer?.name}}
                            </span>
            <span *ngIf="!h.referrerId" style="color:#265fdf;">无</span>
        </p>
        <p>{{referrer?.mobile}}</p>
    </div>
</div>