page-message {
    ion-toolbar{
        padding:0 !important;
        border-top:1px solid #f0f2f6;
        border-bottom:1px solid #f0f2f6;
    }
    .record-select {
        height: 44px;
        padding: 0 15px;
        justify-content: space-between;
        display: flex;
        position: relative;
        z-index: 9;
        box-shadow: 0 6px 6px #e4ebf8;
        width: 100%;
        background-color: #fff;
        p {
            margin: 0;
            width: 40%;
            text-align: center;
            line-height: 44px;
        }
        .tabP {
            border-bottom: solid 2px #265fdf;
            color: #265fdf;
        }
        .spacing{
            width: 1px;
            height: 16px;
            background-color: #e6e6e6;
            display: block;
            position: absolute;
            left: 50%;
            top: 15px;
            z-index: 7;                         
        }
    }
    .message-content{
        padding:0 20px;
        .message-list{
            width: 100%;
            color:#fff;
            text-align: center;
            border-radius: 5px;
            background-color: #e6e6e6;
            overflow: hidden;
            position: relative;
            margin-top: 10px;
            .title-1{
               width:100%; 
               color: #fff;
               text-align: left;
               background-color: #4280EC;
               display: inherit;
               padding:7px 10px;
            }
            .b{ 
                width:30px;
                height:31px;
                overflow: hidden;
                position: absolute;
                top:0;
                right:0;
                img{
                    width:100%;
                    height:100%;
                }
            }
            .n{
                display:none;
            }
            .text-auto{
                height:28px;
                padding-top:10px;
                text-align:left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding:5px;
                margin: 5px 0;
                color:gray;
            }
            .icon{
                height: 10px;
                display: block;
                overflow: hidden;
                img{
                    position: relative;
                    top:-6px;
                    left:0;
                }
            }
        }
        .text{
            .text-auto{
                height:auto;
                white-space: normal;
            }
        }
    }
}
