page-message {
    ion-toolbar.toolbar-ios{
        padding:0;
        border-bottom:1px solid #f0f2f6
    }
    ion-content{
        background-color: #f6f7fb;
    }
    .item-ios ion-thumbnail{
        min-width: 50px;
        min-height: 50px;
        img{
            width: 50px;
            height: 50px;
        }
    }
    .message-content{
        padding: 0;
        margin: 0 !important;
        .item{
            margin-bottom: 10px;
        }
        .text-auto{
            height:auto;
            padding:0;
            text-align:left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
        .message-time{
            text-align: right;
            color:#666;
            font-size: .8em;
        }
    }
}
