page-customerarea {
  .dinnerarea {
    background: #f4f5f9;
    .self {
      border-bottom: solid 1px #e7eaef;
      padding: 0 15px;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .self-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 20px;
          color: #fff;
          background: #6bd2d1;
          border-radius: 50%;
        }
        p {
          margin-left: 8px;
          span {
            color: red;
            font-size: 12px;
          }
        }
      }
    }
    .area {
      .largearea {
        position: relative;
        padding: 12px;
        background: #fff;
        border-bottom: solid 1px #e7eaef;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ion-icon {
          position: absolute;
          right: 15px;
          color: #666;
        }
        .areaname {
          width: 50%;
          i {
            color: #b0b8c5;
            font-size: 20px;
          }
          .drop {
            color: #577fdf;
          }
          span {
            margin-left: 5px;
          }
        }
      }
      .item {
        margin-top: 1px;
        color: #405074;
        border: none;
        border-bottom: solid 1px #e7eaef;
        background: #f4f5f9 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #405074;
        }
        i {
          margin-left: 10px;
          font-size: 20px;
          color: #acb7cb;
          padding: 3px 10px;
        }
      }

    }
  }
}
