<ion-menu [content]="content" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="goTo(role)">
        首页
      </button>
      <button menuClose ion-item (click)="goTo(home)">
        home
      </button>
      <button *ngIf='tokens' menuClose ion-item (click)="pushTo(changepw)">
        修改密码
      </button>
      <!--<button menuClose ion-item (click)="pushTo(resetpw)">
        忘记密码
      </button>-->
      <button menuClose ion-item (click)="pushTo(about)">
        关于壁虎
      </button>
      <button  *ngIf='tokens' menuClose ion-item (click)="logout()">
        退出
      </button>
      <!--<button menuClose ion-item (click)="resetpwModal()">
        重置密码
      </button>-->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>