// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.login-bg-img {
    background-image: url('../assets/img/bg_pic_home.png');
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    .top {
        height: 40vw;
        padding-top: 10%;
        text-align: center;
        color: white;
    }
    .bottom {}
}
[placeholder] {
    font-size:0.9em;
    color:grey;
}
.back-button {
    color: grey;
} 
.menu-header{
    padding:66px 20px 0 50px;
    h4{
       color:#47557A;
    }
    span{
       font-size:.8em;
       color:#ADB4BD;
    }
    p{
       color:#6C727E;
    }
}
.menu-list{
    padding-left:18px;
    border-radius:0 !important;
    .item{
        min-height: 3rem;
        .label-ios{
            margin: 6px 8px 6px 0;
        }
    }
    .label{
        width:100%;
        display: flex;
        span{
            line-height:29px;
            margin-left: 5px;
            color:#47557A;
        }
    }
}