// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.login-bg-img {
    background-image: url('../assets/img/bg_pic_home.png');
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    .top {
        height: 40vw;
        padding-top: 10%;
        text-align: center;
        color: white;
    }
    .bottom {}
}
[placeholder] {
    font-size:0.9em;
    color:grey;
}
.back-button {
    color: grey;
} 
.menu-header{
    padding:66px 20px 0 50px;
    h4{
       color:#47557A;
    }
    span{
       font-size:.8em;
       color:#ADB4BD;
    }
    p{
       color:#6C727E;
    }
}
.menu-list{
    padding-left:18px;
    border-radius:0 !important;
    .item{
        min-height: 3rem;
        .label-ios{
            margin: 6px 8px 6px 0;
        }
    }
    .label{
        width:100%;
        display: flex;
        span{
            line-height:29px;
            margin-left: 5px;
            color:#47557A;
        }
    }
}
//无数据提示
.prompt{
    text-align: center;
    margin-top: 50%; 
    .icon{
        width: 50px;
        margin-top: 100px;
        font-size: 60px;
        color: lightgray;
        margin: 0 auto;
    }
    p{
        width:100%;
        padding:0 20%;
        color:lightgray;
        margin: 0;
    }
}
// 加载完后
.doInfinite{
    padding:20px;
    position: relative;
    background-color: #f6f7fb;
    h5{
        position: absolute;
        width: 170px;
        top: -12px;
        left: 50%;
        margin-left: -85px;
        text-align: center;
        color: #265fdf;
        background-color: #f6f7fb;
        padding:0 5px;
    }
    div{
        width:100%;
        height:1px;
        background-color: gray;
    }
}
// 头部选项
.record-select {
        height: 44px;
        padding: 0 15px;
        justify-content: space-between;
        display: flex;
        position: relative;
        z-index: 9;
        border-top:1px solid #f0f2f6;
        width: 100%;
        background-color: #fff;
        p {
            margin: 0;
            width: 40%;
            text-align: center;
            line-height: 44px;
        }
        .tabP {
            border-bottom: solid 2px #265fdf;
            color: #265fdf;
        }
        .spacing{
            width: 1px;
            height: 16px;
            background-color: #e6e6e6;
            display: block;
            position: absolute;
            left: 50%;
            top: 15px;
            z-index: 7;                         
        }
    }
.record-title{ //房源过滤
    display:flex;
    justify-content:space-around;
    border-top:1px solid #e4ebf8;
    .titles{
        padding:13px;
        .positive{
            color: #265fdf;
        }
        .ion-md-arrow-dropdown{
            color:#265fdf;
        }
    }
}  
.searchs{ //搜索
   display:flex;
   .item-input-wrapper{
       width:85%;
       margin:5px 0 5px 5px;
       display:flex;
       border:1px solid #e4ebf8;
       border-radius: 8px;
       overflow: hidden;
       position: relative;
       i{
          width:20px;
          position: absolute;
          left:5px;
          top:7px;
       }
       input{
          padding: 0 30px;
          width: 100%;
          border:0;
          color:black;
       }
       button{
          position: absolute;
          right:0;
          top:0;
          border-radius: 8px;
          background-color: #fff;
          img{
              margin-top: 7px;
          }
       }
   }
   .inputsub{
       width:15%;
       padding:5px;
       height:35px;
       color:#47557A;
       background-color: #F8F8F8;
   }
} 
// 输入框模糊匹配
.search-dropdown{
    position: relative;
    width: 100%;
    .button{
        margin: 0;
        height: 30px;
        border: 1px solid #e4ebf8;
        background-color: #fff;
        color:gray;
        font-size:0.8em;
    }
} 

.menu-option{
    position: fixed;
    top: 44px;
    right: 0;
    width: 100px;
    z-index: 15;
    background-color: #fff;
    border: 1px solid #e4ebf8;
    border-top:0;
    div{

    }
}