<!--
Generated template for the Contact page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>通讯录</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="contact">
  <div class="contact">
    <div class='search flex-1'>
      <div *ngIf='showHeight' class="pop">
        <div class="popover">
          <ion-select [(ngModel)]="mycity" ionChange="cityChange(mycity)" okText="确定" cancelText="取消">
            <ion-option  *ngFor="let t of cities" value="{{t.id}}">{{t.name}}</ion-option>
          </ion-select>
          <ion-select [(ngModel)]="myarea" (change)="areaChange(myarea)" *ngIf="myarea" okText="确定" cancelText="取消">
            <ion-option  *ngFor="let t of area" value="{{t.id}}">{{t.name}}</ion-option>
          </ion-select>
          <ion-select [(ngModel)]="mybranch" *ngIf="mybranch" okText="确定" cancelText="取消">
            <ion-option  *ngFor="let t of branch" value="{{t.id}}">{{t.name}}</ion-option>
          </ion-select>
          <ion-select [(ngModel)]="mygroup" *ngIf="mygroup" okText="确定" cancelText="取消">
            <ion-option  *ngFor="let t of group" value="{{t.id}}">{{t.name}}</ion-option>
          </ion-select>
          <ion-select [(ngModel)]="mywsmasters" *ngIf="mywsmasters" okText="确定" cancelText="取消">
            <ion-option  *ngFor="let t of wsmasters" value="{{t.id}}">{{t.name}}</ion-option>
          </ion-select>

          <button ion-button small color='primary' class="atn" (click)='closeDepartment()'>确定</button>
        </div>
      </div>

      <ion-searchbar (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" [showCancelButton]="shouldShowCancel"
                     [(ngModel)]="myInput" class="item item-input" placeholder="搜索联系人">
      </ion-searchbar>

      <div style="line-height: 31px" (click)="openDepartment()">
        筛选
        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
      </div>
    </div>

    <div class="contact-action">
      <p class="num">
        共<span>{{allPerson}}</span>人
      </p>
    </div>
  </div>
  <div class="contact-name" *ngFor="let t of person;let i=index">
    <div class="item" (click)="goDetail(t)">
      <div class="username" [ngClass]="">
        {{t.name | slice:0:1 }}
      </div>
      <div class="contact-info">
        <h2 style="padding-top: 5px">
          {{t.name}}
          [ <span *ngIf="t.position">{{t.position.name}}</span><span
          style="margin-left: 8px">{{t.username}}</span> ]
        </h2>
        <p>
          <span *ngIf="t.department">{{t.department.name}}</span>
        </p>
      </div>
    </div>
    <a href="tel:{{t.mobile}}">
      <ion-icon name="call" style="font-size: 40px;margin-right: 15px;"></ion-icon>
    </a>
  </div>
  <div *ngIf="dataLength == 0" style="padding:10px;">
    <h5 style="text-align: center;color: #666">没有了!</h5>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" *ngIf="dataLength != 0" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
