page-housedetails {
    .housedetails {
        .details-1{
            width:100vw;
            margin-top: 10px;
            .name{
                color:#6c727e;
                font-size:1em;
                padding:1em;
                border-top:1px solid #f0f2f6;
            }
            .simple {
                border-top:1px solid #f0f2f6;
                display: flex;
                justify-content: space-around;
                padding: 10px 0;
                .flex-1{
                    width:33%;
                    text-align: center;
                }
                .bor{
                    border-left:1px solid #f0f2f6;
                }
                p {
                    margin: 0;
                    padding-top:10px;
                }
                h4{
                    margin: 0;
                    padding:5px 0;
                    color: #f16341;
                }
            }
            .calculate{
                border-top:1px solid #f0f2f6;
                color:#6c727e;
                font-size:1em;
                padding:1em;
                span{
                    color:#333;
                }
            }
        }  
    }
}