<ion-header>
    <ion-navbar>
        <ion-title>{{house.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="housedetails">
    <div></div>
    <div class="details-1">
        <div class='name'>{{house.name}}</div>
        <div class='simple'>
            <div class='flex-1'>
                <p>售价</p>
                <h4><span>{{house.price}}</span>万</h4>
            </div>
            <div class='flex-1 bor'>
                <p>房型</p>
                <h4><span>{{house.houseType | HouseTypePipe}}</span></h4>
            </div>
            <div class='flex-1 bor'>
                <p>面积</p>
                <h4><span>{{house.buildingArea}}</span>平米</h4>
            </div>
        </div>
        <div class='calculate'>
            单价：
            <span>{{house.price*10000/house.buildingArea | number : 0}}元/平米</span>
        </div>
    </div>
    <div class="details-1">
        <div class="row">
            <div class='flex-col'>
                楼层：
                <span>{{house.floor}}/{{house.totalFloor}}</span>
            </div>
            <div class='flex-col'>
                朝向：
                <span *ngIf="house.orientation == 1">西</span>
                <span *ngIf="house.orientation == 2">东</span>
                <span *ngIf="house.orientation == 3">北</span>
                <span *ngIf="house.orientation == 4">南</span>
                <span *ngIf="house.orientation == 5">南北</span>
            </div>
            <div class='flex-col'>
                装修：
                <span *ngIf="house.decorate == 1">毛坯</span>
                <span *ngIf="house.decorate == 2">简装</span>
                <span *ngIf="house.decorate == 3">精装</span>
            </div>
            <div class='flex-col'>
                楼型：
                <span *ngIf="house.subdistrict.buildingType == 1">塔式</span>
                <span *ngIf="house.subdistrict.buildingType == 2">板式</span>
                <span *ngIf="house.subdistrict.buildingType == 3">塔板结合</span>
                <span *ngIf="house.subdistrict.buildingType == 4">未知类型</span>
            </div>
            <div class='flex-col'>
                年代：
                <span>{{house.subdistrict.buildYear}}年</span>
            </div>
            <div class='flex-col'>

            </div>
            <a class='flex-row' *ngIf="house.subdistrict !== null" (click)="districtDs(house.subdistrict)">
                <div>
                    小区：
                    <span>{{house.subdistrict.name}}</span>
                </div>
                <ion-icon name="arrow-forward"></ion-icon>
            </a>
        </div>
    </div>
    <div class='details-3'>
        <p>房源描述(点击内容可查看)：</p>
        <div [ngClass]="isAction ? 'description' : 'descriptionAn'" (click)="action()">{{house.description}}</div>
    </div>
    <div class='map'>
        <div id='housedetails-map'> </div>
    </div>
</ion-content>
<ion-footer>
    <button ion-button full style="margin: 0;">预约看房</button>
    <!--<div *ngIf="currentUser">
            <div ng-hide="activeTab=='mine'|| activeTab=='sell'" class="details-6" (click)="knowmodal.show()">
                <a class='button button-positive'>预约看房</a>
            </div>
        </div>
        <div *ngIf="!currentUser" class="details-6" (click)="loginmodal.show()">
            <a class='button button-positive'>预约看房</a>
        </div>-->
</ion-footer>