page-recommendbuyer {
    .recommendbuyer {
        padding: 0 15px;
        .item {
            border: 0 !important;
            padding: 0;
            color: #b2bac7;
            margin-top:20px;
            overflow: hidden;
            .item-inner{
                padding:0;
                border-bottom:0;
            }
            .title{
                width: 20vw;
                line-height: 36px;
                font-size:16px;
            }
            ion-textarea{
                margin-left:7px;
            }
            .input{
                border-radius: 8px;
                border: 1px solid #e7eaef;
                input {
                    margin-left:10px;
                    z-index:1;
                }
                textarea{
                    margin:10px;
                    height:150px;
                }
            }
        }
        .item-ios ion-icon[item-right]{
            position: absolute;
            right: 10px;
            top:50%;
            margin: 0;
            margin-top: -14px;
        }
    }
    .recommendation{
        width:100vw;
        height:100vh;
        position: absolute;
        top:-100vh;
        left:0;
        z-index: -1;
        background-color: #fff;
        overflow: hidden;
        ion-scroll{
            width:100vw;
            height:100vh;
            padding-top:40px;
        }
    }
    .animation-enter{
        -webkit-transition: top cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
        transition: top cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
        top: 0;
        z-index: 11;
    }
    .animation-leave{
        -webkit-transition: top cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
        transition: top cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
        top: -100vh;
        z-index: -1;
    }
}
