page-recommendbuyer {
    .recommendbuyer {
        padding: 0 15px;
        .item {
            border: 0 !important;
            padding: 0;
            color: #b2bac7;
            margin-top:20px;
            .item-inner{
                padding:0;
                border-bottom:0;
            }
            .title{
                width: 20vw;
                line-height: 36px;
                font-size:16px;
            }
            ion-textarea{
                margin-left:7px;
            }
            .input{
                border-radius: 8px;
                border: 1px solid #e7eaef;
                input {
                    margin-left:10px;
                    z-index:1;
                }
                textarea{
                    margin:10px;
                    height:150px;
                }
            }
        }
        .item-ios ion-icon[item-right]{
            position: absolute;
            right: 10px;
            top: 13px;
            margin: 0;
        }
    }
}
