page-recommendbuyer {
    .recommendbuyer {
        padding: 0 15px;
        .item {
            border: 0 !important;
            padding: 0;
            color: #b2bac7;
            margin-top:20px;
            .item-inner{
                padding:0;
                border-bottom:0;
            }
            .title{
                width: 20vw;
                line-height: 36px;
                font-size:16px;
            }
            ion-textarea{
                margin-left:7px;
            }
            .input{
                border-radius: 8px;
                border: 1px solid #e7eaef;
                input {
                    margin-left:10px;
                    z-index:1;
                }
                textarea{
                    margin:10px;
                    height:150px;
                }
            }
        }
        .item-ios ion-icon[item-right]{
            position: absolute;
            right: 10px;
            top: 13px;
            margin: 0;
        }
    }
    .recommendation{
        width:100vw;
        height:100vh;
        position: absolute;
        top:0;
        left:0;
        z-index: 11;
        background-color: #fff;
        .flex-row{
            width: 100%;
            // padding-top: calc(20px + 4px);
            // min-height: calc(44px + 20px);
            border-bottom: 1px solid #e7eaef;
            h2{
                width:100%;
                line-height: 39px;
                font-size: 1.7rem;
                text-align: center;
                margin: 0;
            }
            button{
                position: absolute;
                top:0;
                right:0;
                width:80px;
                height:39px;
                margin: 0;
            }
        }
        ion-scroll{
            width:100vw;
            height:100vh;
            padding-top:40px;
        }
    }
}
