<ion-header>
    <ion-navbar>
        <ion-title>房源搜索</ion-title>
    </ion-navbar>

    <ion-toolbar class="searchs">
        <ion-item>
            <!--<ion-label color="primary" floating>请输入区域、商圈或小区名搜索</ion-label>-->
            <ion-input type="search" placeholder="请输入区域、商圈或小区名搜索" clearInput></ion-input>
        </ion-item>
        <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
        <ion-buttons end>
            <button ion-button icon-only color="dark">搜索
			</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="housesearch" *ngFor="let h of houses">
        <house [h]='h'></house>
        <!--<ion-item>
            <img *ngIf="h.images !== '[]'" src="{{h.images[0]}}" width='70' height='70' />
            <img *ngIf="h.images == '[]'" src="assets/img/img_null.png" width='70' height='70' />
            <a class="house-right">
                <div class="flex-row">
                    <p>
                        <i *ngIf="h.hkIds !== 0">合</i>
                        <span style="font-weight:700;">{{h.subdistrict.name}}</span>
                    </p>
                    <p>
                        {{h.detailAddr}}
                    </p>
                </div>
                <div>
                    <span class="text">{{h.houseType}}&nbsp;/&nbsp;</span>
                    <span class="text">{{h.buildingArea}}m<sup>2</sup>&nbsp;/&nbsp;</span>
                    <span class="text" *ngIf="h.orientation == 1">西&nbsp;/&nbsp;</span>
                    <span class="text" *ngIf="h.orientation == 2">东&nbsp;/&nbsp;</span>
                    <span class="text" *ngIf="h.orientation == 3">北&nbsp;/&nbsp;</span>
                    <span class="text" *ngIf="h.orientation == 4">南&nbsp;/&nbsp;</span>
                    <span class="text" *ngIf="h.orientation == 5">南北&nbsp;/&nbsp;</span>
                    <span class="text" *ngIf="h.decorate == 1">毛坯</span>
                    <span class="text" *ngIf="h.decorate == 2">简装</span>
                    <span class="text" *ngIf="h.decorate == 3">精装</span>
                </div>
                <div>
                    <span class="positive" *ngIf="h.status == 0">初始状态</span>
                    <span class="positive" *ngIf="h.status == 1">实勘中</span>
                    <span class="positive" *ngIf="h.status == 2">已上架</span>
                    <span class="positive" *ngIf="h.status == 3">已下架</span>
                    <span class="positive" *ngIf="h.status == 4">已锁定</span>
                    <span class="positive" *ngIf="h.status == 5">已销售</span>
                    <strong class="price assertive">{{h.price}}万</strong>
                </div>
            </a>
        </ion-item>
        <div class="handle">
            <div>
                <a *ngIf="h.hkId != 0" href="tel:{{h.hkName.mobile}}"><img src="assets/img/staff/phone_line_btn.png" width="20" /></a>
                <p>
                    房管家：
                    <span *ngIf="h.hkId != 0">
						{{h.hkName.name}}
					</span>
                    <span *ngIf="h.hkId == 0" style="color:#265fdf;">无</span>
                </p>
                <p>{{h.hkName.mobile}}</p>
            </div>
            <span class="spacing"></span>
            <div>
                <a *ngIf="h.referrerId" href="tel:{{h.referrerName.mobile}}"><img src="assets/img/staff/phone_line_btn.png" width="20" /></a>
                <p>
                    推荐人<span style="font-size:.8em;color:#999;" *ngIf="h.referrerId > 5000000">(业主)</span>：
                    <span *ngIf="h.referrerId">
						{{h.referrerName.name}}
					</span>
                    <span *ngIf="!h.referrerId" style="color:#265fdf;">无</span>
                </p>
                <p>{{h.referrerName.mobile}}</p>
            </div>
        </div>-->
    </div>
</ion-content>