page-housesearch {
    ion-toolbar{
            padding:0 !important;
            border-top:1px solid #f0f2f6;
            border-bottom:1px solid #f0f2f6;
        }
    ion-header{
        ion-navbar{
            border-bottom:1px solid #e7eaef;
        }
        ion-toolbar{
            .searchbar-search-icon{
                top:11px !important;
                background-size: 17px !important;
            }
            .searchbar-input-container{
                border-radius: 5px;
                border:1px solid #e7eaef;
            }
            input{
                background-color: #fff !important;
            }
        }
    }
    ion-fab[bottom][edge]{
        bottom:20px;
    }
    ion-fab[right]{
        right:5px;
    }
    .fab[mini]{
        width: 50px;
        height: 50px;
        line-height: 50px;
        .fab-close-icon{
            line-height: 50px;
        }
    }
    ion-fab-list{
        min-width: 66px;
        min-height: 66px;
        .fab-in-list{
            width: 50px;
            height: 50px;
            background-color:#5b8ee6;
            color:#fff;
        }
    }
    ion-content{
        .housesearch{
            margin-bottom: 6px;
            box-shadow: 0 6px 6px #e4ebf8;
            ion-item{
                padding:20px 10px;
                margin: 0;
                border-bottom:0;
                border-color: #f0f2f6;
                .item-inner{
                    padding-right: 0 !important;
                    border-bottom:0 !important;
                }
                .label-ios{
                    margin: 0 !important;
                }
                img{
                float: left;
                }
                .house-right{
                    float:right; 
                    width:70%;
                    &>div{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        .text{
                            height:30px;
                            line-height:30px;
                            overflow: hidden;
                            color:gray;
                            font-size:.8em;
                        }
                        .interval{
                            width:1px;
                            background: gray;
                            height:10px;
                            margin: 0 1%;
                            display:inline-block;
                        }
                        .price{
                            width:75%;
                            float:left;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .positive{
                            width:25%;
                            text-align: right;
                            float:right;
                            text-indent: -10px;
                        }
                        i{
                            position: absolute;
                            top: -19px;
                            left: -19px;
                            color: #fff;
                            background-color: #265fdf;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            line-height: 54px;
                            text-indent: 20px;
                            font-style:normal;
                        }
                    }
                }
                .search-dropdown{
                    position: fixed;
                    //top: -8px;
                    top: 103px;
                    z-index: 9;
                    width: 100%;
                    .button{
                        margin: 0;
                        padding:10px 0;
                        border-bottom: 1px solid #f0f2f6;
                    }
                }
                .button.button-positive.button-outline.activated{
                    border-color: #265fdf;
                    background: 0 0;
                    color: #265fdf;
                }
                &>.button{
                    float:right;
                    width:25%;
                    overflow: hidden;
                    padding: 0;
                    font-size:.9em;
                    min-height: inherit;
                }
                .flex-row{
                justify-content:space-between;
                overflow: hidden;
                display: flex;
                img{
                    width:17px;
                    height:17px;
                }
                p{
                    color:lightgray;
                    overflow: hidden;
                    margin: 0;
                    span{
                        color:lightgray;
                        font-size:.9em;
                    }
                }
                p:first-child>span{
                    color:black;
                    font-size:1.3em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                }
                .button-clear{
                    color:#265fdf;
                    margin-top: 10px;
                }
            }
                .handle { 
                    border-top: solid 1px #e7eaef;
                    border-bottom: solid 1px #e7eaef;
                    overflow: hidden;
                    position:relative;
                    display:flex;
                    .handle-hk{ 
                        padding:0 10px;
                        width:50%;
                        display:flex;
                        justify-content: space-around;
                        div{
                            width:80%;
                        }
                        a{
                            width:20%;
                            padding: 0;
                            background-color: #fff;
                            margin-top: 14px;
                        }
                    }
                    p {
                        color: #b8bfc9;
                        span {
                            color: #64708a;
                        }
                    }
                    .border-spacing{
                        border-left: 1px solid #e6e6e6;                       
                    }
                }
            .item:last-child{
                border-bottom:1px solid #f0f2f6;
            }
            .content{
                position: relative;
                top:44px;
            }
        }
    }
}
