<!--
  Generated template for the Ordermine page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>订单管理</ion-title>
    <ion-buttons end>
      <!--<button ion-button icon-only color="dark" style="right:10px;" (click)="changeType()">-->
        <!--<ion-icon name="list-box" style="font-size: 1.3em;"></ion-icon>-->
        <!--全部-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="ordermine" >
  <p class="upright-line"></p>
  <div class="customer-info" >
    <!--<div class="contact-pop siftings-pop" *ngIf="toggle" style="top: 44px;">-->
      <!--<div class="pop-content" style="height: auto">-->
        <!--<div class="general-pop"  style="left: 0;right: 0;width: auto;overflow: auto;height: auto;color: #666;background: #fff;padding: 0 24px">-->
          <!--<p  ng-class="{'p-color':checkidx==i}" *ngFor="let t in pop" (click) = 'exist(t, $index)' style="background: #fff">{{t}}</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <p *ngFor="let t of sub; let i=index" (click)="chooseTab(i)" [ngClass]="{'checkedp': choosedidx == i}">
      {{t.title}}
      <span *ngIf="i==0">({{missionData || 0}})</span>
      <span *ngIf="i==1">({{orderLength || 0}})</span>
    </p>
  </div>
  <!--待处理-->
  <div *ngIf="choosedidx == 0">
    <div class="item item-first"  *ngFor='let t of mission' (click)="goDetails(t)">
      <p class="item-top" style="color: #C5C8CE;">
        <span>{{t.serialNumber}}</span>
        <span>{{t.modifiedDate | date: 'yyyy-MM-dd'}}</span>
      </p>
      <div class="item-bottom">
        <div class="order-info">
          <h4>{{t.houseInfo?.subdistrict.name}}</h4>
          <p style="margin-top: 10px" *ngIf="t.houseId != 0">
            {{t.houseInfo?.name}} <span>( {{t.houseInfo?.detailAddr}} )</span>
          </p>
          <p class="p1" style="margin-top: 4px" *ngIf="t.houseId != 0">
            <span>{{t.houseInfo?.houseType[0]}}室{{t.houseInfo?.houseType[2]}}厅</span>
            <span>{{t.houseInfo?.buildingArea}}m<sup>2</sup></span>
            <span>{{t.houseInfo?.price}}</span>万
          </p>
        </div>
        <div class="order-status">
          <p *ngIf="t.status==-2">已终止</p>
          <p *ngIf="t.status==-1">已取消</p>
          <img src="assets/img/staff/non_payment_icon.png" *ngIf="t.status==1"/>
          <p *ngIf="t.status==2">验房中</p>
          <p *ngIf="t.status==3">看房中</p>
          <p *ngIf="t.status==4">签约中</p>
          <p *ngIf="t.status==6">已过户</p>
          <p *ngIf="t.status==7">处理中</p>
          <p *ngIf="t.status==0">已完成</p>
          <!--权证经理订单是以下几种状态-->
          <p *ngIf="t.status==5">过户中</p>
          <p *ngIf="t.status==8">贷款中</p>
          <p *ngIf="t.status==9">网签中</p>
        </div>
      </div>
    </div>
    <div *ngIf="missionLength == 0" style="padding:10px;">
      <h5 style="text-align: center;color: #666">没有了!</h5>
    </div>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="missionLength != 0">
      <ion-infinite-scroll-content loadingSpinner="bubbles"  loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <h5 *ngIf="noUnfinishOrders && choosedidx == 0" style="text-align: center;margin-top: 48%;color: #999;">暂无订单！</h5>
  <h5 *ngIf="noOrders && choosedidx==1" style="text-align: center;margin-top: 48%;color: #999;">暂无订单！</h5>
  <!--全部-->
  <div *ngIf="choosedidx == 1">
    <div class="item item-first" *ngFor="let t of items" (click)="goDetails(t)">
      <p class="item-top" style="color: #C5C8CE;">
        <span>{{t.serialNumber}}</span>
        <span>{{t.modifiedDate | date: 'yyyy-MM-dd'}}</span>
      </p>
      <div class="item-bottom">
        <div class="order-info">
          <h5>{{t.houseInfo?.subdistrict.name}}</h5>
          <p style="margin-top: 10px" *ngIf="t.houseId != 0">
            {{t.houseInfo?.name}}<span>( {{t.houseInfo?.detailAddr}} )</span>
          </p>
          <p class="p1" style="margin-top: 4px" *ngIf="t.houseId != 0">
            <span>{{t.houseInfo?.houseType[0]}}室{{t.houseInfo?.houseType[2]}}厅</span>
            <span>{{t.houseInfo?.buildingArea}}m<sup>2</sup></span>
            <span>{{t.houseInfo?.price}}</span>万
          </p>
        </div>
        <div class="order-status">
          <p *ngIf="t.status==-2">已终止</p>
          <p *ngIf="t.status==-1">已取消</p>
          <!--<p ng-if="t.status==0">已完成</p>-->
          <img src="assets/img/staff/knockdown_icon-.png" *ngIf="t.status==0"/>
          <img src="assets/img/staff/non_payment_icon.png" *ngIf="t.status==1"/>
          <p *ngIf="t.status==2">验房中</p>
          <p *ngIf="t.status==3">看房中</p>
          <p *ngIf="t.status==4">签约中</p>
          <p *ngIf="t.status==5">过户中</p>
          <p *ngIf="t.status==6">已过户</p>
          <p *ngIf="t.status==7">处理中</p>
          <p *ngIf="t.status==8">贷款中</p>
          <p *ngIf="t.status==9">网签中</p>
        </div>
      </div>
    </div>

    <div style="padding:10px;" *ngIf="allMission == 0">
      <h5 style="text-align: center;color: #666">没有了!</h5>
    </div>
    <ion-infinite-scroll (ionInfinite)="loadMore1($event)" *ngIf="allMission != 0">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
