<!--
  Generated template for the Tododetails? page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar mode='ios'>
    <ion-title text-center>{{todo?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div style="margin:10px;border-bottom:1px solid lightgrey;width:100%;">
      <h4 style='color:black;width:100%;text-align: center;'>{{todo?.name}}</h4>
      <p style='font-size:0.7em;margin-bottom:3px;'>{{todo?.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
  </div>

  <div style="margin:10px;border-bottom:1px solid lightgrey;padding:5px 0;">
    <span style="color:#265fdf;">转派任务给：</span>
    <select [(ngModel)]="house.assignee" style="width:40vw;border-radius: 5px;border:1px solid lightgray;">
        <option selected disabled>选择转派对象</option>       
        <option *ngFor="let m of deptMembers" value="{{m.id}}" [hidden]="!m.enabled || !m.workable || (m.username==user_name)">{{m.name}}</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="reassign()" ion-button small style="position: relative;bottom: 6px;">提交</button>
  </div>

  <div *ngFor="let d of descriptionMap" style="margin:10px;">
    <div *ngIf="d.name == 'seller_id'" style="border-bottom:1px solid lightgrey;"><span style="color:#265fdf;">{{d.nameCn}}:</span>&nbsp;&nbsp;{{d.details?.name}}&nbsp;&nbsp;<a href="tel:{{d.details?.mobile}}">{{d.details?.mobile}} <ion-icon style="color:#265fdf;" name="call"></ion-icon> </a></div>
    <div *ngIf="d.name == 'buyer_id'" style="border-bottom:1px solid lightgrey;"><span style="color:#265fdf;">{{d.nameCn}}:</span>&nbsp;&nbsp;{{d.details?.name}}&nbsp;&nbsp;<a href="tel:{{d.details?.mobile}}">{{d.details?.mobile}} <ion-icon style="color:#265fdf;" name="call"></ion-icon> </a></div>
    <div *ngIf="d.name == 'mission_id'" style="border-bottom:1px solid lightgrey;"><span style="color:#265fdf;">{{d.nameCn}}:</span>&nbsp;&nbsp;订单号：{{d.details?.serialNumber}}&nbsp;&nbsp;</div>
    <!--(click)='goHousedetails?(d.details?.id)'-->
    <div *ngIf="(d.name == 'house_id')&&(!!d.value)" style="border-bottom:1px solid lightgrey;"><span style="color:#265fdf;">{{d.nameCn}}:</span>&nbsp;&nbsp;{{d.details?.name}}&nbsp;&nbsp;价格：{{d.details?.price}}万&nbsp;&nbsp;
      描述: {{d.details?.description}}
    </div>
    <div *ngIf="d.name == 'region_id'" style="border-bottom:1px solid lightgrey;"><span style="color:#265fdf;">{{d.nameCn}}:</span>&nbsp;&nbsp;{{d.details?.name}}</div>
  </div>

  <div *ngFor="let d of descriptionMap" style="margin:10px;">
    <!--上架-->
    <div *ngIf="(d.name == 'seller')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <!--| houseDetailAddr-->
    <div *ngIf="(d.name == 'house_number')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'area')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}平米</div>
    <div *ngIf="(d.name == 'expected_price')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}万</div>

    <div *ngIf="(d.name == 'inspect_date')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
    <div *ngIf="(d.name == 'confirm_sell')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>

    <div *ngIf="(d.name == 'inspect_result')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'inspect_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>

    <div *ngIf="(d.name == 'real_seller_mobile')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'real_seller_name')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'decorate')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'house_building_area')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}平米</div>
    <div *ngIf="(d.name == 'house_title')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'house_desc')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <!--| houseDetailAddr       -->
    <div *ngIf="(d.name == 'house_detail_addr')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'price')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}万</div>
    <div *ngIf="(d.name == 'house_type')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value | HouseTypePipe}}</div>
    <div *ngIf="(d.name == 'floor')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}层</div>
    <div *ngIf="(d.name == 'total_floor')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}层</div>
    <div *ngIf="(d.name == 'orientation')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'has_key')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>

    <div *ngIf="(d.name == 'property_type')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'shelve_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'images')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">
      <div>房源实勘照片(点击看大图):</div>
      <div *ngFor="let i of (d.value | ImgPipe)" style="display:inline-block;margin:5px;">
        <img src="{{i}}" width="70" heigth="70">
      </div>
    </div>
    <div *ngIf="(d.name == 'planImages')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">
      <div>房型图(点击看大图):</div>
      <div *ngFor="let i of (d.value | ImgPipe) " style="display:inline-block;margin:5px;">
        <img src="{{i}}" width="70" heigth="70">
      </div>
    </div>
    <div *ngIf="(d.name == 'house_images')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">
      <div>卖家房源照片(点击看大图):</div>
      <div *ngFor="let i of (d.value | ImgPipe) " style="display:inline-block;margin:5px;">
        <img src="{{i}}" width="70" heigth="70">
      </div>
    </div>
    <!--买房-->
    <div *ngIf="(d.name == 'is_precise_buy')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <!--精准购房-->
    <div *ngIf="(d.name == 'precise_house_info')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'precise_buyer_target_price')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'precise_communication_succeed')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>

    <div *ngIf="(d.name == 'precise_buy_house_info')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <!--<div *ngIf="(d.name == 'house_id')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">系统已上架的房源id：{{d.value}}</div>-->
    <div *ngIf="(d.name == 'precise_buy_house_found')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>

    <div *ngIf="(d.name == 'need_watch_house')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>

    <!--普通看房-->
    <div *ngIf="(d.name == 'is_valid')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'watch_appointment_time')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value | date: 'yyyy-MM-dd HH:mm:ss'}}</div>

    <div *ngIf="(d.name == 'is_watch_succeed')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'watched_time')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value | date: 'yyyy-MM-dd HH:mm:ss'}}</div>

    <div *ngIf="(d.name == 'is_watch_satisfied')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'watch_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>

    <div *ngIf="(d.name == 'is_negotiate_succeed')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'negotiate_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'seller_price')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}万</div>
    <div *ngIf="(d.name == 'buyer_price')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}万</div>


    <div *ngIf="(d.name == 'is_invitation_succeed')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'invite_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'meeting_date')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value | date: 'yyyy-MM-dd HH:mm:ss'}}</div>

    <div *ngIf="(d.name == 'is_meeting_succeed')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'meet_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>

    <div *ngIf="(d.name == 'is_contract_deposit_finished')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'contract_sign_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'contract_price')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}万</div>
    <div *ngIf="(d.name == 'earnest_money')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>

    <div *ngIf="(d.name == 'intermediary_fee')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'intermediary_fee_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'intermediary_fee_contract')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>

    <!--置业顾问成交报告-->
    <div *ngIf="(d.name == 'contract_num')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'buyer_name')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'buyer_idnum')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'buyer_id_addr')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'buyer_mobile')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'seller_name')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'seller_idnum')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'seller_id_addr')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'seller_mobile')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'house_addr')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <div *ngIf="(d.name == 'contract_images')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">
      <div>合同照片(点击看大图):</div>
      <div *ngFor="let i of (d.value | ImgPipe) " style="display:inline-block;margin:5px;">
        <img src="{{i}}" width="70" heigth="70">
      </div>
    </div>
    <div *ngIf="(d.name == 'receipt_images')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">
      <div>收据照片(点击看大图):</div>
      <div *ngFor="let i of (d.value | ImgPipe) " style="display:inline-block;margin:5px;">
        <img src="{{i}}" width="70" heigth="70">
      </div>
    </div>
    <div *ngIf="(d.name == 'need_loan')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <!--置业顾问经理审批-->
    <div *ngIf="(d.name == 'is_deal_report_approved')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'deal_report_approval_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <!--贷款专员-->
    <div *ngIf="(d.name == 'is_loan_succeed')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'loan_comments')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <!--权证专员确定过户结果-->
    <div *ngIf="(d.name == 'is_cert_trans_succeed')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：<span *ngIf="d.value">是</span><span *ngIf="!d.value">否</span></div>
    <div *ngIf="(d.name == 'cert_trans_comment')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">{{d.nameCn}}：{{d.value}}</div>
    <!--客服专员收集满意的-->
    <div *ngIf="(d.name == 'buyer_sati_all')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">买家总体满意度(1-5分)：{{d.value}}</div>
    <div *ngIf="(d.name == 'seller_sati_all')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">卖家总体满意度(1-5分)：{{d.value}}</div>
    <div *ngIf="(d.name == 'satisfaction_note')&&(!!d.value)" style="border-bottom:1px solid lightgrey;">客服专员收集满意度备注：{{d.value}}</div>

  </div>
  <div style="margin:10px;">
    <h5 style="text-align: center;color:#265fdf;">填写以下表格并提交&nbsp;&nbsp;没有表格直接提交</h5>
  </div>

  <div *ngFor="let f of formProperties">
    <div *ngIf="f.type == 'date'" style="margin:10px;">
      <div><span style="color:#265fdf;">{{f.name}}:</span> </div>
      <!--{{house.pickedTime | date: "yyyy-MM-dd HH:mm:ss"}}-->
      <ion-item>
        <ion-label>选择时间</ion-label>
        <!--monthShortNames="一月, 二月, 三月, 四月, 五月, 六月, 七月, 八月, 九月,十一月, 十二月"-->
        <ion-datetime displayFormat="YYYY-MM-DD HH" pickerFormat="YYYY MM DD HH" cancelText='取消' doneText='确定' [(ngModel)]="f.value"></ion-datetime>
      </ion-item>
    </div>
    <div *ngIf="f.type == 'boolean'" style="margin:10px;width:90vw;">
      <span style="color:#265fdf;">{{f.name}}:</span>
      <div>
        <input [(ngModel)]="f.value" type="radio" value="true"> &nbsp;是
      </div>
      <div>
        <input [(ngModel)]="f.value" type="radio" value="false"> &nbsp;否
      </div>
    </div>

    <div *ngIf="f.type == 'double' || f.type == 'long'|| f.type == 'integer'" style="margin:10px;">
      <!--<div *ngIf="f.id != 'region_id'">
        <div *ngIf="f.id!='house_id'">
          <span style="color:#265fdf;">{{f.name}}:</span>
          <input [(ngModel)]="f.value" type="number" style="width:90vw;border:1px solid lightgrey;border-radius: 6px;">
        </div>
        <div *ngIf="f.id=='house_id'">
          <button (click)="regionmodal.show()" class="button button-small button-positive pill">
                            选择小区
                        </button>
          <div *ngIf="choosedRegion">{{choosedRegion.name}}</div>
          <button (click)="houseModalShow()" class="button button-small button-positive pill">
                            选择房源
                        </button>
          <div *ngIf="choosedHouse">{{choosedHouse.name}}</div>
        </div>
      </div>-->
      <span style="color:#265fdf;">{{f.name}}:</span>
      <input [(ngModel)]="f.value" type="number" style="width:90vw;border:1px solid lightgrey;border-radius: 6px;">
    </div>
    <div *ngIf="f.type == 'enum'" style="margin:10px;">
      <span style="color:#265fdf;">{{f.name}}:</span>
      <div>
        <select [(ngModel)]="f.value" style="width:40vw;border-radius: 5px;border:1px solid lightgray;">
            <option *ngFor="let e of f.enumValues">{{e.name}}</option>
        </select>
      </div>

    </div>
    <div *ngIf="f.type == 'string'" style="margin:10px;">
      <span style="color:#265fdf;">{{f.name}}:</span>
      <input [hidden]="(f.id == 'contract_images')||(f.id == 'receipt_images')||(f.id == 'planImages')||(f.id == 'images')||(f.id=='house_type')||(f.id=='house_detail_addr')"
        [(ngModel)]="f.value" style="width:90vw;border:1px solid lightgrey;height:35px;border-radius: 6px;">

      <div *ngIf="f.id=='house_type'">
        <div>请输入数字</div>
        <input type="number" [(ngModel)]="house.room" style="width:15vw;padding:5px;display:inline;border-radius: 6px;">        室
        <input type="number" [(ngModel)]="house.hall" style="width:15vw;padding:5px;display:inline;border-radius: 6px;">        厅
        <input type="number" [(ngModel)]="house.kitchen" style="width:15vw;padding:5px;display:inline;border-radius: 6px;">        厨
        <input type="number" [(ngModel)]="house.bathroom" style="width:15vw;padding:5px;display:inline;border-radius: 6px;">        卫
      </div>
      <div *ngIf="f.id=='house_detail_addr'">
        <input [(ngModel)]="house.building" placeholder="楼栋号" style="width:20vw;padding:5px;display:inline;border-radius: 6px;border:1px solid lightgray;">        栋
        <input [(ngModel)]="house.unit" placeholder="单元号" style="width:20vw;padding:5px;display:inline;border-radius: 6px;border:1px solid lightgray;">        单元
        <input [(ngModel)]="house.room1" placeholder="门牌号" style="width:20vw;padding:5px;display:inline;border-radius: 6px;border:1px solid lightgray;">        号
      </div>

      <div *ngIf="f.id == 'receipt_images'||f.id == 'images'" class="upload-images">
        <div class="upload-img" *ngFor="let b of innerUrls; let i = index; " style="width:70px;height:70px;position: relative;margin:8px;float:left;">
          <img [src]="b" width="70" height="70" style="position: absolute;top:0;left:0;border-radius: 5px;" />
          <ion-icon name="close-circle" (click)="deleteInnerImg(i)" style="position: absolute;top: -11px;right: -8px;font-size: 20px;z-index: 9;color: gray;"></ion-icon>
        </div>

        <label (click)='innerCapture()' [hidden]="innerUrls.length > 4" style='float:left;'>
          <!--<input type="file" imageUpload (imageSelected)="getInnerBlobs($event)" [resizeOptions]="resizeOptions" style='width:0.1px;height:0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;'>-->
          <!--<input type="file" (change)="getInnerBlobsF($event)" style='width:0.1px;height:0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;'>-->
          <img src="assets/img/sprite/photo_icon.png" width='70' height="70" /> 
        </label>
        <!--<button ion-button (click)='innerCapture()'>getInnerImgPicker</button>-->
        
        <div style="clear: both;"></div>
      </div>

      <div *ngIf="f.id == 'contract_images'||f.id == 'planImages'" class="upload-images">
        <div class="upload-img" *ngFor="let b of designUrls; let i = index;" style="width:70px;height:70px;position: relative;margin:8px;float:left;">
          <img [src]="b" width="70" height="70" style="position: absolute;top:0;left:0;border-radius: 5px;" />
          <ion-icon name="close-circle" (click)="deleteDesignImg(i)" style="position: absolute;top: -11px;right: -8px;font-size: 20px;z-index: 9;color: gray;"></ion-icon>
        </div>

        <label (click)='designCapture()' [hidden]="designUrls.length > 4" style='float:left;'>
          <!--<input type="file" imageUpload (imageSelected)="getDesignBlobs($event)" [resizeOptions]="resizeOptions" style='width:0.1px;height:0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;'>-->
          <!--<input type="file" (change)="getDesignBlobsF($event)" style='width:0.1px;height:0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;'>         -->
          <img src="assets/img/sprite/photo_icon.png" width='70' height="70" /> 
        </label>
        <!--<button ion-button (click)='designCapture()'>getDesignImgPicker</button>-->
        <div style="clear: both;"></div>
      </div>

    </div>
  </div>

  <div style="margin:30px 10vw;">
    <button (click)="endTask()" ion-button block round>完成提交</button>
  </div>
</ion-content>