page-consultant {
    ion-toolbar.toolbar-ios{
        padding:0;
        border-bottom:1px solid #f0f2f6
    }
    .list{
        .item{
            border:1px solid #f0f2f6 !important;
            border-radius: 8px;
            margin-top: 16px;
        }
    }
    .item-md ion-thumbnail, .item-md ion-thumbnail,.item-ios ion-thumbnail, .item-ios ion-thumbnail{
        min-width: 45px;
        min-height:45px;
        img{
            width: 45px;
            height:45px;
        }
    }
    .item-ios .item-button,.item-md .item-button{
        height:30px;
    }
}
